body {
  line-height: 1;
  background-color: darkgrey;
}

.jumbotron {
  text-align: center;
  background-color: black;
  border-radius: 0;
  border-bottom: 10px solid grey;
}

.hourRow {
  white-space: pre-wrap;
  height: 100px;
}

.hour {
  background-color: #0683c2;
}

textarea {
  resize: none;
}

.save {
  background-color: #62b312;
}

.save:hover {
  background-color: #84d534;
}

.clear {
  background-color :#c20635;
}

.clear:hover {
  background-color :#e42857;
}

.btn {
  border-radius: 0%;
}